NOTION_INTEGRATION_TOKEN="xxx"
NOTION_PAGE_ID="xxx"


DEEPSEEK_API_KEY="sk-xxx"

# A custom instruction for the AI assistant. It defines its personality and task.
# Example: "You are a witty assistant who answers with a touch of humor."
SYSTEM_PROMPT="xxx"

# For notion_to_chroma.py
CHROMA_PERSIST_DIR=./chroma_storage
INDEXED_PAGES_LOG=./indexed_pages.json
EMBED_MODEL=BAAI/bge-large-en