NOTION_INTEGRATION_TOKEN="xxx"
NOTION_PAGE_ID="xxx"


DEEPSEEK_API_KEY="sk-xxx"

# For notion_to_chroma.py
CHROMA_PERSIST_DIR=./chroma_storage
INDEXED_PAGES_LOG=./indexed_pages.json
EMBED_MODEL=BAAI/bge-large-en